<div
  [(ngpComboboxValue)]="value"
  [ngpComboboxDisabled]="disabled() || formDisabled()"
  (ngpComboboxOpenChange)="resetOnClose($event)"
  (ngpComboboxValueChange)="onValueChange($event)"
  ngpCombobox
>
  <div class="br-input">
    <input
      [value]="filter()"
      [placeholder]="placeholder()"
      (input)="onFilterChange($event)"
      (blur)="onTouched?.()"
      ngpComboboxInput
    />
    <button
      class="br-button"
      type="button"
      aria-label="Exibir lista"
      tabindex="-1"
      ngpComboboxButton
    >
      <i class="fas fa-angle-down" aria-hidden="true"></i>
    </button>
  </div>

  <div *ngpComboboxPortal ngpComboboxDropdown class="br-select">
    <div class="br-list">
      @for (option of filteredOptions(); track option) {
      <div [ngpComboboxOptionValue]="option" ngpComboboxOption class="br-item">
        {{ option }}
      </div>
      } @empty {
      <div class="br-item">Nenhuma opção encontrada</div>
      }
    </div>
  </div>
</div>
