<div class="min-h-screen ...">
  <div class="w-full max-w-md ...">
    <h2 class="...">Acessar Plataforma</h2>
  </div>

  <br-form [formGroup]="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <br-form-item name="email">
        <div class="br-input">
          <br-form-label>Email:</br-form-label>
          <input
            brFormControl
            formControlName="email"
            type="email"
            autocomplete="off"
          />
        </div>
      </br-form-item>
      <br-form-item name="password">
        <div class="br-input">
          <br-form-label>Senha:</br-form-label>
          <input brFormControl formControlName="password" type="password" />
        </div>
      </br-form-item>
      <br-form-item name="observacao">
        <div class="br-textarea">
          <br-form-label>Observacao</br-form-label>
          <textarea brFormControl formControlName="observacao"></textarea>
        </div>
      </br-form-item>
      <!-- 
      <br-form-item name="frameworkId">
        <br-form-label>Framework Favorito:</br-form-label>
        <br-select
          id="framework-select"
          placeholder="Selecione um framework..."
          formControlName="frameworkId"
          brFormControl
        >
          @for (fw of frameworks(); track fw.id) {
          <br-select-item [value]="fw.id">
            {{ fw.name }}
          </br-select-item>
          }
        </br-select>
      </br-form-item>

      <br-select [(value)]="framework" placeholder="Selecione um framework...">
        @for (fw of frameworks(); track fw.id) {
        <br-select-item [value]="fw.id">
          {{ fw.name }}
        </br-select-item>
        }
      </br-select> -->

      <button type="submit" class="br-button primary">Entrar</button>
    </form>
  </br-form>

  <br-select [options]="options"></br-select>

  <!--   <br-accordion-root>
    <br-accordion-item value="1" title="Is it unstyled?">
      Yes. It's unstyled by default, giving you freedom over the look and
      feel.</br-accordion-item
    >

    <br-accordion-item value="2" title="Can it be animated?">
      Yes! You can animate the Accordion with CSS or
      JavaScript.</br-accordion-item
    >
  </br-accordion-root>
 -->
</div>
